<!DOCTYPE html>
<html lang="en">
<head>
<title>About us</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.3.4/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.3.4/animate.css">
<link href="plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/styles/about.css">
<link rel="stylesheet" type="text/css" href="/styles/about_responsive.css">
</head>
<body>
<div class="super_container">
    <!-- Header -->
    <header class="header">
        <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo"><a href="/">HTT</a></div>
            <div class="ml-auto d-flex flex-row align-items-center justify-content-start">
                <nav class="main_nav">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li class="active"><a href="/">Trang Chủ</a></li>
                        <li><a href="about">Về Chúng Tôi</a></li>
                        <li><a href="booking">Phòng</a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=61551364718325">Liên Hệ</a></li>
                    </ul>
                </nav>
                <div class="book_button"><a href="booking">Đặt Trực tuyến</a></div>
                <div class="header_phone d-flex flex-row align-items-center justify-content-center">
                    <p><a href="login">Đăng Nhập</a> </p>
                </div>
            </div>
        </div>
    </header>
    <!-- Home -->
    <div class="home">
        <div class="background_image" style="background-image:url(images/about.jpg)"></div>
        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content text-center">
                            <div class="home_title">Về Chúng Tôi</div>
                            <div class="booking_form_container">
                                <form action="#" class="booking_form" id="booking_form">
                                    <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                        <div class="booking_input_container d-flex flex-row align-items-start justify-content-start flex-wrap">
                                            <div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                                            <div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                                            <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                                            <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                                        </div>
                                        <div><button class="booking_button trans_200">Đặt ngay</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About -->
    <div class="about">
        <div class="container">
            <div class="row">
                <!-- About Content -->
                <div class="col-lg-6">
                    <div class="about_content">
                        <div class="about_title"><h2>HTT Homestay Luxury / 1 month of excellence</h2></div>
                        <div class="about_text">
                            <p>
                                HTT Homestay, được thành lập vào năm 2023, là một nơi đáng để bạn ghé thăm khi bạn đến vùng này. Chúng tôi tự hào giới thiệu một không gian đa dạng về phòng ở để đáp ứng mọi nhu cầu của bạn trong chuyến du lịch của mình. Homestay HTT mang đến cho bạn cơ hội trải nghiệm sự đa dạng của cuộc sống địa phương thông qua việc chọn lựa các loại phòng ở độc đáo. Dù bạn là người yêu thiên nhiên và muốn trải nghiệm một cuộc sống gần gũi với tự nhiên, hay bạn muốn thư giãn trong một không gian tiện nghi và hiện đại, chúng tôi đều có sẵn lựa chọn phù hợp.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- About Images -->
                <div class="col-lg-6">
                    <div class="about_images d-flex flex-row align-items-center justify-content-between flex-wrap">
                        <img src="images/about_1.png" alt="">
                        <img src="images/about_2.png" alt="">
                        <img src="images/about_3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Split Section Right -->
    <div class="split_section_right container_custom">
        <div class="container">
            <div class="row row-xl-eq-height">
                <div class="col-xl-6 order-xl-1 order-2">
                    <div class="split_section_image">
                        <div class="background_image" style="background-image:url(images/milestones.jpg)"></div>
                    </div>
                </div>
                <div class="col-xl-6 order-xl-2 order-1">
                    <div class="split_section_right_content">
                        <div class="split_section_title"><h1>Homestay trên cây</h1></div>
                        <div class="split_section_text">
                            <p>Nhà trên cây nhìn từ dưới lên giống như một “lâu đài” bí ẩn giữa rừng sâu thăm thẳm. Chủ nhân của Cosy Tree House đã thiết kế 6 nhà trên cây với những phong cách khác nhau mang đến cho du khách bất ngờ này đến bất ngờ khác.</p>
                        </div>
                        <!-- Milestones -->
                        <div class="milestones_container d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <!-- Milestone -->
                            <div class="milestone d-flex flex-row align-items-start justify-content-start">
                                <div class="milestone_content">
                                    <div class="milestone_counter" data-end-value="10">0</div>
                                    <div class="milestone_title">Số lượng phòng</div>
                                </div>
                            </div>
                            <!-- Milestone -->
                            <div class="milestone d-flex flex-row align-items-start justify-content-start">
                                <div class="milestone_content">
                                    <div class="milestone_counter" data-end-value="50" data-sign-after="K">0</div>
                                    <div class="milestone_title">Khách du lịch / năm</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Split Section Left -->
    <div class="split_section_left container_custom">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="split_section_left_content">
                        <div class="split_section_title"><h1>Tổ chức đám tiệc </h1></div>
                        <div class="split_section_text">
                            <p>Có không gian xanh mát. Kiến trúc chính gồm ngôi homestay trên cây cổ kính bao quanh bởi khu vườn rợp bóng mát. Sức chứa tối đa 100 khách. Có phòng lạnh và sân vườn cho cặp đôi lựa chọn. Phù hợp với tiệc cưới nhỏ xinh, lễ ceremony,…</p>
                        </div>
                        <!-- Loaders -->
                        <div class="loaders_container d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <!-- Loader -->
                            <div class="loader_container text-center">
                                <div class="loader text-center" data-perc="0.9">
                                    <div class="loader_content">
                                        <div class="loader_title">Dịch vụ</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Loader -->
                            <div class="loader_container text-center">
                                <div class="loader text-center" data-perc="0.8">
                                    <div class="loader_content">
                                        <div class="loader_title">Tiệc đã tổ chức</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Loaders Image -->
                <div class="col-xl-6">
                    <div class="split_section_image split_section_left_image">
                        <div class="background_image" style="background-image:url(images/loaders.jpg)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonials -->
    <div class="testimonials">
        <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/testimonials.jpg" data-speed="0.8"></div>
        <div class="testimonials_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="testimonials_slider_container">
                        <!-- Testimonials Slider -->
                        <div class="owl-carousel owl-theme test_slider">
                            <!-- Slide -->
                            <div  class="test_slider_item text-center">
                                <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                <div class="testimonial_title"><a href="#">Bùi Văn Tến</a></div>
                                <div class="testimonial_text">
                                    <p>Homestay view đẹp, xứng đáng 10 điểm sẽ quay lại</p>
                                </div>
                                <div class="testimonial_image"><img src="images/user_1.jpg" alt=""></div>
                            </div>
                            <!-- Slide -->
                            <div  class="test_slider_item text-center">
                                <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                <div class="testimonial_title"><a href="#">Trần Minh Truyền</a></div>
                                <div class="testimonial_text">
                                    <p>5 sao cho homestay này, quá hợp lý về giá cả và chất lượng</p>
                                </div>
                                <div class="testimonial_image"><img src="images/user_2.jpg" alt=""></div>
                            </div>
                            <!-- Slide -->
                            <div  class="test_slider_item text-center">
                                <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                <div class="testimonial_title"><a href="#">Phạm Trọng Huy</a></div>
                                <div class="testimonial_text">
                                    <p>Quá rẻ so với chất lượng, sẽ quay lại lần sau. Dịch vụ tốt</p>
                                </div>
                                <div class="testimonial_image"><img src="images/user_3.jpg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer_content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer_logo_container text-center">
                            <div class="footer_logo">
                                <a href="#"></a>
                                <div>HTT</div>
                                <div>since 1945</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row footer_row">
                    <!-- Address -->
                    <div class="col-lg-3">
                        <div class="footer_title">Địa chỉ</div>
                        <div class="footer_list">
                            <ul>
                                <li>12 Nguyễn Văn bảo, Gò Vấp </li>
                                <li>TP.HCM</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Reservations -->
                    <div class="col-lg-3">
                        <div class="footer_title">Đặt chổ</div>
                        <div class="footer_list">
                            <ul>
                                <li>Tel: 0966551795</li>
                                <li>Fax; 0966551795</li>
                                <li>tranminhtruyen99ckc@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Newsletter -->
                    <div class="col-lg-3">
                        <div class="footer_title">Đăng ký</div>
                        <div class="newsletter_container">
                            <form action="#" class="newsletter_form" id="newsletter_form">
                                <input type="email" class="newsletter_input" placeholder="Your email address" required="required">
                                <button class="newsletter_button">Subscribe</button>
                            </form>
                        </div>
                    </div>
                    <!-- Footer images -->
                    <div class="col-lg-3">
                        <div class="certificates d-flex flex-row align-items-start justify-content-lg-between justify-content-start flex-lg-nowrap flex-wrap">
                            <div class="cert"><img src="images/cert_1.png" alt=""></div>
                            <div class="cert"><img src="images/cert_2.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="javascripts/jquery-3.3.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/jquery-datepicker/jquery-ui.js"></script>
<script src="javascripts/about.js"></script>
</body>
</html>
