<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTT Hotel</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.3.4/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.3.4/animate.css">
    <link href="/plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_content d-flex flex-row align-items-center justify-content-start">
			<div class="logo"><a href="/">HTT</a></div>
			<div class="ml-auto d-flex flex-row align-items-center justify-content-start">
				<nav class="main_nav">
					<ul class="d-flex flex-row align-items-start justify-content-start">
						<li class="active"><a href="/">Trang Chủ</a></li>
						<li><a href="about">Về Chúng Tôi</a></li>
						<li><a href="booking">Phòng</a></li>
						<li><a href="https://www.facebook.com/profile.php?id=61551364718325">Liên Hệ</a></li>
					</ul>
				</nav>
				<div class="book_button"><a href="booking">Đặt Trực tuyến</a></div>
				<div class="header_phone d-flex flex-row align-items-center justify-content-center">
					<img src="images/phone.png" alt="">
					<p><a href="login">Đăng Nhập</a> </p>
				</div>
			</div>
		</div>
	</header>

	<!-- Home -->

	<div class="home">
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Slide -->
				<div class="slide">
					<div class="background_image" style="background-image:url(images/index_1.jpg)"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content text-center">
										<div class="home_title">A Luxury Homestay </div>
										<div class="booking_form_container">
											<form action="#" class="booking_form">
												<div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
													<div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
														<div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
														<div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
														<div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
														<div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
													</div>
													<div><button class="booking_button trans_200">ĐẶT NGAY</button></div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="slide">
					<div class="background_image" style="background-image:url(images/index_1.jpg)"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content text-center">
										<div class="home_title">A Luxury Homestay</div>
										<div class="booking_form_container">
											<form action="#" class="booking_form">
													<div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
														<div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
															<div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
															<div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
															<div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
															<div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
														</div>
														<div><button class="booking_button trans_200">Đặt Ngay</button></div>
													</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="slide">
					<div class="background_image" style="background-image:url(images/index_1.jpg)"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content text-center">
										<div class="home_title">A Luxury Homestay</div>
										<div class="booking_form_container">
											<form action="#" class="booking_form">
												<div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
													<div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
														<div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
														<div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
														<div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
														<div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
													</div>
													<div><button class="booking_button trans_200">Đặt Ngay</button></div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			
			<!-- Home Slider Dots -->
			<div class="home_slider_dots_container">
				<div class="home_slider_dots">
					<ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-start justify-content-start">
						<li class="home_slider_custom_dot active">01.</li>
						<li class="home_slider_custom_dot">02.</li>
						<li class="home_slider_custom_dot">03.</li>
					</ul>
				</div>
			</div>
			
		</div>
	</div>

	<!-- Features -->

	<div class="features">
		<div class="container">
			<div class="row">
				
				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
						<div class="icon_box_icon"><img src="images/icon_1.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
						<div class="icon_box_title"><h2>Homestay Trên Cây</h2></div>
						<div class="icon_box_text">
							<p>Mô hình này có thể khá lạ lẫm ở Việt Nam nhưng lại rất phổ biến ở các nước phương Tây. Bởi vậy, đặc biệt được các du khách nước ngoài yêu thích. Ưu điểm của mô hình homestay trên cây là mang lại trải nghiệm hoang sơ và chinh phục thiên nhiên cho du khách.</p>
						</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
						<div class="icon_box_icon"><img src="images/icon_2.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
						<div class="icon_box_title"><h2>Homestay Thùng Rượu Vang</h2></div>
						<div class="icon_box_text">
							<p>
								Tại Đà Lạt, mô hình homestay này rất được ưa chuộng. Hình ảnh những thùng rượu vang gỗ khổng lồ chắc chắn sẽ là địa điểm check-in lý tưởng cho tín đồ mê sống ảo. Homestay thùng rượu vang được đánh giá là phù hợp với cả cặp đôi và gia đình.
							</p>
						</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
						<div class="icon_box_icon"><img src="images/icon_3.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
						<div class="icon_box_title"><h2>Homestay Tổ Chim</h2></div>
						<div class="icon_box_text">
							<p>Mô hình homestay này rất phù hợp với những cặp đôi tình nhân. Bởi thiết kế tối giản tạo không gian riêng tư ấm áp. Bên cạnh đó, chi phí đầu tư xây dựng cũng tương đối rẻ. Mái thường được thiết kế theo hình vòm cong, được lợp lá, tôn cuốn dây leo hoặc bằng ván gỗ.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Gallery -->

	<div class="gallery">
		<div class="gallery_slider_container">
			<div class="owl-carousel owl-theme gallery_slider">
				
				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url(images/gallery_1.jpg)"></div>
					<a class="colorbox" href="images/gallery_1.jpg"></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url(images/gallery_2.jpg)"></div>
					<a class="colorbox" href="images/gallery_2.jpg"></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url(images/gallery_3.jpg)"></div>
					<a class="colorbox" href="images/gallery_3.jpg"></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url(images/gallery_4.jpg)"></div>
					<a class="colorbox" href="images/gallery_4.jpg"></a>
				</div>

			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">
				
				<!-- About Content -->
				<div class="col-lg-6">
					<div class="about_content">
						<div class="about_title"><h2>HTT Homestay Luxury / 1 month of excellence</h2></div>
						<div class="about_text">
							<p>
								HTT Homestay, được thành lập vào năm 2023, là một nơi đáng để bạn ghé thăm khi bạn đến vùng này. Chúng tôi tự hào giới thiệu một không gian đa dạng về phòng ở để đáp ứng mọi nhu cầu của bạn trong chuyến du lịch của mình. Homestay HTT mang đến cho bạn cơ hội trải nghiệm sự đa dạng của cuộc sống địa phương thông qua việc chọn lựa các loại phòng ở độc đáo. Dù bạn là người yêu thiên nhiên và muốn trải nghiệm một cuộc sống gần gũi với tự nhiên, hay bạn muốn thư giãn trong một không gian tiện nghi và hiện đại, chúng tôi đều có sẵn lựa chọn phù hợp.
							</p>
						</div>
					</div>
				</div>

				<!-- About Images -->
				<div class="col-lg-6">
					<div class="about_images d-flex flex-row align-items-center justify-content-between flex-wrap">
						<img src="images/about_1.png" alt="">
						<img src="images/about_2.png" alt="">
						<img src="images/about_3.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Testimonials -->

	<div class="testimonials">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/testimonials.jpg" data-speed="0.8"></div>
		<div class="testimonials_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="testimonials_slider_container">

						<!-- Testimonials Slider -->
						<div class="owl-carousel owl-theme test_slider">
							
							<!-- Slide -->
							<div  class="test_slider_item text-center">
								<div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
								<div class="testimonial_title"><a href="#">Bùi Văn Tến</a></div>
								<div class="testimonial_text">
									<p>Homestay view đẹp, xứng đáng 10 điểm sẽ quay lại</p>
								</div>
								<div class="testimonial_image"><img src="images/user_1.jpg" alt=""></div>
							</div>

							<!-- Slide -->
							<div  class="test_slider_item text-center">
								<div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
								<div class="testimonial_title"><a href="#">Trần Minh Truyền</a></div>
								<div class="testimonial_text">
									<p>5 sao cho homestay này, quá hợp lý về giá cả và chất lượng</p>
								</div>
								<div class="testimonial_image"><img src="images/user_2.jpg" alt=""></div>
							</div>

							<!-- Slide -->
							<div  class="test_slider_item text-center">
								<div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
								<div class="testimonial_title"><a href="#">Phạm Trọng Huy</a></div>
								<div class="testimonial_text">
									<p>Quá rẻ so với chất lượng, sẽ quay lại lần sau. Dịch vụ tốt</p>
								</div>
								<div class="testimonial_image"><img src="images/user_3.jpg" alt=""></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Booking -->

	<div class="booking">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="booking_title text-center"><h2>Đặt ngay kẻo hết</h2></div>
					<!-- Booking Slider -->
					<div class="booking_slider_container">
						<div class="owl-carousel owl-theme booking_slider">			
							<!-- Slide -->
							<div class="booking_item">
								<div class="background_image" style="background-image:url(images/booking_1.jpg)"></div>
								<div class="booking_overlay trans_200"></div>
								<div class="booking_price">200k/Ngày</div>
								<div class="booking_link"><a href="booking">Family Room</a></div>
							</div>
							<!-- Slide -->
							<div class="booking_item">
								<div class="background_image" style="background-image:url(images/booking_2.jpg)"></div>
								<div class="booking_overlay trans_200"></div>
								<div class="booking_price">500k/Ngày</div>
								<div class="booking_link"><a href="booking">Luxury Room</a></div>
							</div>
							<!-- Slide -->
							<div class="booking_item">
								<div class="background_image" style="background-image:url(images/booking_3.jpg)"></div>
								<div class="booking_overlay trans_200"></div>
								<div class="booking_price">800k/Ngày</div>
								<div class="booking_link"><a href="booking">Deluxe Room</a></div>
							</div>
							<!-- Slide -->
							<div class="booking_item">
								<div class="background_image" style="background-image:url(images/booking_4.jpg)"></div>
								<div class="booking_overlay trans_200"></div>
								<div class="booking_price">1000k/Ngày</div>
								<div class="booking_link"><a href="booking">Presidential Suite</a></div>
							</div>
							<!-- Slide -->
							<div class="booking_item">
								<div class="background_image" style="background-image:url(images/booking_5.jpg)"></div>
								<div class="booking_overlay trans_200"></div>
								<div class="booking_price">1200k/Ngày</div>
								<div class="booking_link"><a href="booking">Royal Suite</a></div>
							</div>
						</div>
					</div>
					<div class="booking_button text-center trans_200"><a href="booking">Xem thêm</a></div>
				</div>
			</div>
		</div>
	</div>

	
	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer_col">
					<div class="footer_about">
						<div class="logo"><a href="#">HTT</a></div>
						<div class="footer_about_text">
							<p>HTT Homestay, luôn lắng nghe và đổi mới để đáp ứng mọi nhu cầu của bạn trong chuyến du lịch của mình.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 footer_col">
					<div class="footer_contact">
						<div class="footer_contact_title">Liên Hệ</div>
						<div class="footer_contact_list">
							<ul>
								<li>Địa chỉ: 123 Đường ABC, Phường XYZ, Quận ABC</li>
								<li>Điện thoại: <%= phoneNumber %></li>
								<li>Email: htt.homestay@gmail.com</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 footer_col">
					<div class="footer_social">
						<div class="footer_contact_title">Mạng Xã Hội</div>
						<ul class="d-flex flex-row align-items-start justify-content-start">
							<li><a href="https://www.facebook.com/profile.php?id=61551364718325"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="javascripts/jquery-3.3.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="javascripts/custom.js"></script>
</body>
</html>
